
   h1 {
     text-align:center;
     color:red;
     background-color:black;
   }
   #navbar li a {
   display:block;
   text-decoration:none;
   padding:14px 16px;
   font-size:20px;
   color:white;
   text-align:center;
   }
   #navbar li {
     float:left;
   }
   
   .player h1 {
     color: red;
   }
   
   .player h3, p {
     padding: 10px;
   }
   
   .jumbotron {
     background: url(https://i.ytimg.com/vi/GJ-k3mG0R5A/hqdefault.jpg);
     background-repeat: no-repeat;
     
   }