body {
      background-color: blue;
    }
    #navbar {
      list-style-type:none;
      margin:0;
      padding:0;
      overflow:hidden;
      background-color:aqua;
    }
    #navbar li {
      float: left;
    }
    
    #navbar li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20;
    }
    
    #navbar li a:hover {
      background-color: black;
    }
    
    #navbar .active {
      background-color: green;
    }