h1 {
  text-align: center;
  color: blue;
  background-color: red;
}

body {
background: blue;
background-size: cover;
}

#myfavlist li img{
    width:250;
    height:250;
  }
#navbar {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:black;
  }
  #navbar li {
    float:left;
  }
  #navbar li a {
    display:block;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
    font-size:20px;
  }