h1 {
  text-align: center;
  color: red;
  font-size:80;
}
h5 {
  text-align: center;
  color: red;
  font-size:20;
}
h3 {
  text-align: center;
  color: red;
  font-size:40;
}
#home {
  background: url(grassy3.jpg);
  background-size:contain;
  background-repeat: no-repeat;
}

#dog {
  width:200;
  height:200;
  
}

#textbox {
  color: white;
  width:25%;
  
}

#school {
  background: url(teacher.jpg);
  background-size:contain;
  background-repeat: no-repeat;
}

#beach {
  background: url(beach.jpg);
  background-size:contain;
  background-repeat: no-repeat;
}

#foodcourt {
  background: url(foodcourt.jpg);
  background-size:contain;
  background-repeat: no-repeat;
}

#endvideo {
  width: 600;
  height:400;
  
}


#steak {
  background: url(steak.jpg);
  background-size:contain;
  background-repeat: no-repeat;
}

#hotdog2 {
 background: url(hotdog2.jpg);
  background-size:contain;
  background-repeat: no-repeat;
 }

.align-left {
  float: left;
  margin-right: 10;
}

.button {
  background-color:#42f4f4;
  border: none;
  color:#f44141;
  margin: 5;
  padding: 15 32;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16;
  border-radius: 12;
}

ul {
  list-style: none;
}


