h1 {
text-align: center;
color: black;
background-color: red;
}
.jumbotron {
background: url("https://bodaciousbobo.files.wordpress.com/2012/05/218476_221451164534369_218382761507876_992102_4645343_o-22.jpg");
background-size: cover;
}
h2 {
color: white;
}
h3 {
  color: white;
}
p {
color: white;
}
li {
color: white;
}