 h1 {
    color: blue;
    text-align: center;
    font-size: 120px;
    font-family: Arial;
  }
  
  h2 {
    color: white;
    text-align:center;
    font-size:60px;
    font-family: Arial;
  }
  
  body {
    background-color:green;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
#menu {
  list-style-type: none;
  overflow: hidden;
  background-color: blue;
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20;
  text-decoration: none;
}
#menu li a:hover {
  background-color: pink;
}

.slider-holder {
  width: 800;
  height:400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10;
  text-align: center;
  overflow: hidden;
}

.image-holder {
  width: 2400;
  height: 400;
  position: relative;
  animation: slide 15s infinite;
}

.slider-image {
  float: left;
  width: 800;
  height: 400;
  margin: 0;
  padding: 0;
  position: relative;
}

@keyframes slide
{
  0% {left: 0px;}
  30% {left: 0px;}
  33% {left: -800px;}
  63% {left: -800px;}
  66% {left: -1600px;}
  97% {left: -1600px;}
  100% {left: 0px;}
}