#stage {
  background: url("stage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#party {
  background: url("party.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#sing {
  background: url("telephone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#hide {
  background: url("couch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#invite {
  background: url("dog2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#no {
  background: url("angry.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#yes {
  background: url("train.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#talk {
  background: url("pitbullpack.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#dinner {
  background: url("smile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.align-left {
  float: left;
  margin-right: 10;
}

.align-center {
  display: block;
  margin: 0px auto;
}

.button {
  background-color: aqua;
  border: none;
  color: teal;
  margin: 5;
  padding: 15 32;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20;
  border-radius: 12px;
  width: 40%;
}

.button:hover {
  background-color: blue;
  color: white;
}

#button {
  list-style: none;
  
}

#character1 {
  width: 800;
  height: 600;
}
#question {
  width: 550;
  height: 550;
}
#couch {
  width: 800;
  height: 600;
}
#textbox {
  color: white;
  font-size:24;
  font-family: Sans Serif;
}
#evelope {
  width: 500;
  height: 500;
}
#pitbull {
  width: 600;
  height: 600;
}
#textbox2 {
  color: black;
  font-size:24;
  font-family: Sans Serif;
}
#textbox3 {
  color:purple;
  font-size:24;
  font-family: Sans Serif;
}
#reply {
  font-size:50;
}