h1{
  text-align: center;
  color: red;
  background-color: none;
  
}

.pixel {
  text-align:center;
}

.jumbotron {
background: url("http://lh3.googleusercontent.com/BnYKHhoZ34mBhSt9h03_tZY0KpujyOATyNF1NON7-XejXaO3f4zOBUp8lx3OGDf2RWo=w300");
background-size: cover;
height: 600px;

}